<!DOCTYPE html>
<head>

</head>
<body>


<form method="post" action="/searchresult"> <!-- /searchresult is the page it will be redericted or "posted" lets say -->
	<input name="searchBarUser" type="text" placeholder="Search..">
	<br>
	<input type="submit"></input>


</body>

</html>

