<!DOCTYPE html>
<head>

</head>
<body>

<form method="post" action="/" autocomplete="off"> <!-- AUTOCOMPLETE is to avoid showing history -->
	<input name="searchFirstName" type="text" placeholder="First Name">
	<br>
	<input name="searchLastName" type="text" placeholder="Last Name">
	<br>
	<input name="searchEmail" type="text" placeholder="Email">
	<br>
	<input type="submit"></input>



</body>

</html>

